@page "/inventories"

<h3>InventoryList</h3>
<br />
<br />

<SearchComponent OnSearch="HandleSearch"/>
<br />

<InventoryListComponent SearchInventoryFilter="@InventoryNameToSearch"/>
<br />
<a href="/addinventory" class="btn btn-primary">Add Inventory</a>

@code {
    private string? InventoryNameToSearch { get; set; }

    public void HandleSearch(string searchFilter)
    {
        InventoryNameToSearch = searchFilter;
    }
}
